[submodule "rental_dapp/contract/lib/forge-std"]
	path = rental_dapp/contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "rental_dapp/contract/lib/openzeppelin-contracts"]
	path = rental_dapp/contract/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "rental_dapp/contract/lib/solmate"]
	path = rental_dapp/contract/lib/solmate
	url = https://github.com/Rari-Capital/solmate
